@import url("https://fonts.googleapis.com/css2?family=Overlock&display=swap");

.App {
  font-family: "overlock", cursive;
  text-align: center;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: "overlock", cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
